extends inc/layout.pug

block title 
    title Inheritance 
block content 
    
        h1 Inheritance 
        section 
            p  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem ullam fugit quibusdam rerum veniam ea voluptas atque aliquid corporis? Deleniti.